<p id="notice"><%= notice %></p>

<h1>Listing Topics</h1>

<table class="ui celled padded table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= link_to 'Show', topic %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path, class: "ui primary button" %>
