<%= form_for([@batch, @batch_set]) do |f| %>
  
  <% @batch_set.question_sets.each do |question_set| %>
    <% @batch_set.due_date_lists.each do |due_date_list| %>
      <% due_date_list.user_ids.each do |user_id| %>
        <% if user_id == current_user.id %>
          
          <% if due_date_list.due_date_time < Time.now %>
          <!-- DISPLAYING QUESTIONS ONLY BECAUSE DUE DATE IS ALREADY OVER. -->
            <%= "This assignment was due on #{due_date_list.due_date_time_field}" %><br/><br/>
            <p>
              <b>Questions:</b><br/>
              <% @batch_set.question_sets.where('batch_set_id = ?', @batch_set.id).each do |question_set| %>
                <% question_set.user_ids.each do |user_id| %>
                  <% if user_id == current_user.id %>
                    <% question_set.question_ids.each do |question_id| %>
                      <% if Question.where('id = ?', question_id).exists? %>
                        <%= Question.find(question_id).try(:formatted_statement) %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </p>
          
          <% elsif due_date_list.due_date_time > Time.now %>
          <!-- DISPLAYING QUESTIONS AND LETTING USERS ANSWER THEM. -->          
           <p>
              <b>Questions:</b><br/>
              <% @batch_set.question_sets.where('batch_set_id = ?', @batch_set.id).each do |question_set| %>
                <% question_set.user_ids.each do |user_id| %>
                  <% if user_id == current_user.id %>
                    <% question_set.question_ids.each do |question_id| %>
                      <% if !Question.find_by(id: question_id).answers.where('user_id = ? AND question_id = ? AND batch_set_id = ?', current_user.id, question_id, @batch_set.id).exists? %>
                          <% "hi" %>
                          <%= Question.find(question_id).try(:formatted_statement) %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </p>

          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>


<!-- DISPLAYING QUESTIONS AND LETTING USERS ANSWER THEM. -->


<!-- DISPLAYING ANSWERS THAT EXIST -->

<% end %>