<h1>New User</h1>
<h3>Use this to add Admin user only. To add a student, <%= link_to "click here", new_student_path%>.</h3> 

<%= render 'form' %>

<%= link_to 'Back', users_path, class: "ui black button" %>
