<p id="notice"><%= notice %></p>

<div class="ui segment">
	<p>
	  <strong>Name:</strong>
	  <%= @question_type.name %>
	</p>

	<%= link_to 'Edit', edit_question_type_path(@question_type), class: "ui button" %>
	<%= link_to 'Back', question_types_path, class: "ui black button" %>
</div>