<h3><%= @batch.title %></h3>
<h3><%= @student.name %></h3>


<div class="ui styled accordion">
  <div class="title">
    <i class="dropdown icon"></i>
	<h4>Assignments</h4>
	</div>
		

<h4>Assessments</h4>