.avatar img {
    display: block;
    margin: 0em auto;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.thum-img img {
    width: 2.5em;
    height: 2.5em;
    float: left;
    margin-right: 10px
}