<p id="notice"><%= notice %></p>

<h1>Listing Remarks</h1>
<%= link_to 'New Remark', new_remark_path, class: "ui primary button" %><br/><br/>

<table class="ui celled padded table" id="dataTable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @remarks.each do |remark| %>
      <tr>
        <td><%= remark.title %></td>
        <td><%= link_to 'Show', remark %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>